<div class="content-center">
  <div class="">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-24 mt-12">
      <h1 class="block uppercase tracking-wide text-gray-700 text-2xl font-bold mb-2">Menu</h1>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-state"
        >
          Service Type
        </label>
        <div class="relative">
          <select
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-state"
            [(ngModel)]="selectedServiceType"
            (change)="getMenuListByServiceId($event.target.value)"
          >
            <ng-container *ngIf="serviceTypes.length; else noServiceTypes">
              <ng-container *ngFor="let service of serviceTypes">
                <option [value]="service?.intServiceId">{{ service.serviceName }}</option>
              </ng-container>
            </ng-container>
            <ng-template #noServiceTypes>
              <option>No Data Found</option>
            </ng-template>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mb-6">
        <table class="table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2">Display Name</th>
              <th class="px-4 py-2">Description</th>
              <th class="px-4 py-2">Index</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="menuList.length; else noMenuList">
              <ng-container *ngFor="let menu of menuList; let i = index">
                <tr>
                  <td class="border px-4 py-2">{{ menu?.display }}</td>
                  <td class="border px-4 py-2">{{ menu?.description }}</td>
                  <td class="border px-4 py-2">{{ menu?.index }}</td>
                </tr>
              </ng-container>
            </ng-container>
            <ng-template #noMenuList>
              <tr>
                <td colspan="3" class="border px-4 py-2">No Data Found</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Display
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Display"
          [(ngModel)]="display"
        />
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Description
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Description"
          [(ngModel)]="description"
        />
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Index
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Index"
          [(ngModel)]="index"
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
          (click)="submitMenu()"
        >
          Insert
        </button>
      </div>
    </div>
  </div>
  <div class="">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-24 mt-12">
      <h1 class="block uppercase tracking-wide text-gray-700 text-2xl font-bold mb-2">
        Client Sub Menu
      </h1>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-state"
        >
          Menu
        </label>
        <div class="relative">
          <select
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-state"
            [(ngModel)]="selectedMenuId"
            (change)="getSubMenuListByMenuId($event.target.value)"
          >
            <ng-container *ngIf="menuList.length; else noMenus">
              <ng-container *ngFor="let menu of menuList">
                <option [value]="menu?.clientMenuId">{{ menu.display }}</option>
              </ng-container>
            </ng-container>
            <ng-template #noMenus>
              <option>No Data Found</option>
            </ng-template>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mb-6">
        <table class="table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2">Display Name</th>
              <th class="px-4 py-2">Description</th>
              <th class="px-4 py-2">Index</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="subMenuList.length; else noSubMenuList">
              <ng-container *ngFor="let subMenu of subMenuList; let i = index">
                <tr>
                  <td class="border px-4 py-2">{{ subMenu?.display }}</td>
                  <td class="border px-4 py-2">{{ subMenu?.description }}</td>
                  <td class="border px-4 py-2">{{ subMenu?.index }}</td>
                </tr>
              </ng-container>
            </ng-container>
            <ng-template #noSubMenuList>
              <tr>
                <td colspan="3" class="border px-4 py-2">No Data Found</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Display
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Display"
          [(ngModel)]="subMenuDisplay"
        />
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Description
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Description"
          [(ngModel)]="subMenuDescription"
        />
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Index
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Index"
          [(ngModel)]="subMenuIndex"
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
          (click)="submitSubMenu()"
        >
          Insert
        </button>
      </div>
    </div>
  </div>
  <div class="">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-24 mt-12">
      <h1 class="block uppercase tracking-wide text-gray-700 text-2xl font-bold mb-2">
        Module
      </h1>
      <div class="mb-6">
        <table class="table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2">Module Name</th>
              <th class="px-4 py-2">Description</th>
              <th class="px-4 py-2">Resource Type Name</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="modules.length; else noModules">
              <ng-container *ngFor="let module of modules; let i = index">
                <tr>
                  <td class="border px-4 py-2">{{ module?.moduleName }}</td>
                  <td class="border px-4 py-2">{{ module?.description }}</td>
                  <td class="border px-4 py-2">{{ module?.resourceTypeName }}</td>
                </tr>
              </ng-container>
            </ng-container>
            <ng-template #noModules>
              <tr>
                <td colspan="3" class="border px-4 py-2">No Data Found</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>

      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-state"
        >
          Resource Type
        </label>
        <div class="relative">
          <select
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-state"
            [(ngModel)]="resourceTypeId"
          >
            <ng-container *ngIf="resourceTypeList.length; else noResourceTypes">
              <ng-container *ngFor="let resourceType of resourceTypeList">
                <option [value]="resourceType?.resourceTypeId">{{ resourceType.resourceTypeName }}</option>
              </ng-container>
            </ng-container>
            <ng-template #noResourceTypes>
              <option>No Data Found</option>
            </ng-template>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Module Name
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Module Name"
          [(ngModel)]="moduleName"
        />
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Description
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Description"
          [(ngModel)]="moduleDescription"
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
          (click)="submitModule()"
        >
          Insert
        </button>
      </div>
    </div>
  </div>
  <div class="">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-24 mt-12">
      <h1 class="block uppercase tracking-wide text-gray-700 text-2xl font-bold mb-2">
        Resource
      </h1>
      <div class="mb-6 overflow-auto">
        <table class="text-left h-full">
          <thead>
            <tr>
              <th class="px-4 py-2">Resource Name</th>
              <th class="px-4 py-2">Description</th>
              <th class="px-4 py-2">Method</th>
              <th class="px-4 py-2">Path</th>
              <th class="px-4 py-2">Allow Anonymous</th>
            </tr>
          </thead>
          <tbody class="overflow-y-scroll" style="height: 50vh;">
            <ng-container *ngIf="resourceList.length; else noModules">
              <ng-container *ngFor="let resource of resourceList; let i = index">
                <tr>
                  <td class="border px-4 py-2">{{ resource?.resourceName }}</td>
                  <td class="border px-4 py-2">{{ resource?.description }}</td>
                  <td class="border px-4 py-2">{{ resource?.method }}</td>
                  <td class="border px-4 py-2">{{ resource?.path }}</td>
                  <td class="border px-4 py-2">{{ resource?.allowAnonymous }}</td>
                </tr>
              </ng-container>
            </ng-container>
            <ng-template #noModules>
              <tr>
                <td colspan="5" class="border px-4 py-2">No Data Found</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>

      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Resource Name
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Resource Name"
          [(ngModel)]="resourceName"
        />
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Description
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Description"
          [(ngModel)]="resourceDescription"
        />
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Method
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Method"
          [(ngModel)]="method"
        />
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Path
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Path"
          [(ngModel)]="path"
        />
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Allow Anonymous
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Allow Anonymous"
          [(ngModel)]="allowAnonymous"
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
          (click)="submitResource()"
        >
          Insert
        </button>
      </div>
    </div>
  </div>
  <div class="">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-24 mt-12">
      <h1 class="block uppercase tracking-wide text-gray-700 text-2xl font-bold mb-2">
        Resource Group
      </h1>
      <div class="mb-6">
        <table class="table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2">Resource Group Name</th>
              <th class="px-4 py-2">Description</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="resourceGroupList.length; else noModules">
              <ng-container *ngFor="let resourceGroup of resourceGroupList; let i = index">
                <tr>
                  <td class="border px-4 py-2">{{ resourceGroup?.resourceGroupName }}</td>
                  <td class="border px-4 py-2">{{ resourceGroup?.description }}</td>
                </tr>
              </ng-container>
            </ng-container>
            <ng-template #noModules>
              <tr>
                <td colspan="2" class="border px-4 py-2">No Data Found</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>

      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Resource Name
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Resource Group Name"
          [(ngModel)]="resourceGroupName"
        />
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Description
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Description"
          [(ngModel)]="resourceGroupDescription"
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
          (click)="submitResourceGroup()"
        >
          Insert
        </button>
      </div>
    </div>
  </div>
  <div class="">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-24 mt-12">
      <h1 class="block uppercase tracking-wide text-gray-700 text-2xl font-bold mb-2">
        Client Menu Modules
      </h1>
      <div class="mb-6">
        <table class="table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2">Menu</th>
              <th class="px-4 py-2">Sub Menu</th>
              <th class="px-4 py-2">Module</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="clientMenuModuleList.length; else noModules">
              <ng-container *ngFor="let clientMenuModule of clientMenuModuleList; let i = index">
                <tr>
                  <td class="border px-4 py-2">{{ clientMenuModule?.clientMenu?.display }}</td>
                  <td class="border px-4 py-2">{{ clientMenuModule?.clientSubMenu?.display }}</td>
                  <td class="border px-4 py-2">{{ clientMenuModule?.module?.moduleName }}</td>
                </tr>
              </ng-container>
            </ng-container>
            <ng-template #noModules>
              <tr>
                <td colspan="2" class="border px-4 py-2">No Data Found</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-state"
        >
          Module
        </label>
        <div class="relative">
          <select
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-state"
            [(ngModel)]="selectedModuleId"
          >
            <ng-container *ngIf="modules.length; else noServiceTypes">
              <ng-container *ngFor="let module of modules">
                <option [value]="module?.moduleId">{{ module.moduleName }}</option>
              </ng-container>
            </ng-container>
            <ng-template #noServiceTypes>
              <option>No Data Found</option>
            </ng-template>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-state"
        >
          Menu
        </label>
        <div class="relative">
          <select
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-state"
            [(ngModel)]="selectedCMMMenuId"
          >
            <ng-container *ngIf="menuList.length; else noMenus">
              <ng-container *ngFor="let menu of menuList">
                <option [value]="menu?.clientMenuId">{{ menu.display }}</option>
              </ng-container>
            </ng-container>
            <ng-template #noMenus>
              <option>No Data Found</option>
            </ng-template>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-state"
        >
          Sub Menu
        </label>
        <div class="relative">
          <select
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-state"
            [(ngModel)]="selectedCMMSubMenuId"
          >
            <ng-container *ngIf="clientMenuModuleSubMenuList.length; else noMenus">
              <ng-container *ngFor="let subMenu of clientMenuModuleSubMenuList">
                <option [value]="subMenu?.clientSubMenuId">{{ subMenu .display }}</option>
              </ng-container>
            </ng-container>
            <ng-template #noMenus>
              <option>No Data Found</option>
            </ng-template>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
          (click)="submitClientMenuModule()"
        >
          Insert
        </button>
      </div>
    </div>
  </div>
  <div class="">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-24 mt-12">
      <h1 class="block uppercase tracking-wide text-gray-700 text-2xl font-bold mb-2">
        Module Group
      </h1>
      <div class="mb-6">
        <table class="table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2">Module</th>
              <th class="px-4 py-2">Resource Group</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="moduleGroupList.length; else noModules">
              <ng-container *ngFor="let moduleGroup of moduleGroupList; let i = index">
                <tr>
                  <td class="border px-4 py-2">{{ moduleGroup?.moduleName }}</td>
                  <td class="border px-4 py-2">{{ moduleGroup?.resourceGroupName }}</td>
                </tr>
              </ng-container>
            </ng-container>
            <ng-template #noModules>
              <tr>
                <td colspan="2" class="border px-4 py-2">No Data Found</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-state"
        >
          Module
        </label>
        <div class="relative">
          <select
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-state"
            [(ngModel)]="selectedModuleId"
          >
            <ng-container *ngIf="modules.length; else noServiceTypes">
              <ng-container *ngFor="let module of modules">
                <option [value]="module?.moduleId">{{ module.moduleName }}</option>
              </ng-container>
            </ng-container>
            <ng-template #noServiceTypes>
              <option>No Data Found</option>
            </ng-template>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-state"
        >
          Menu
        </label>
        <div class="relative">
          <select
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-state"
            [(ngModel)]="selectedCMMMenuId"
          >
            <ng-container *ngIf="menuList.length; else noMenus">
              <ng-container *ngFor="let menu of menuList">
                <option [value]="menu?.clientMenuId">{{ menu.display }}</option>
              </ng-container>
            </ng-container>
            <ng-template #noMenus>
              <option>No Data Found</option>
            </ng-template>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-state"
        >
          Sub Menu
        </label>
        <div class="relative">
          <select
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-state"
            [(ngModel)]="selectedCMMSubMenuId"
          >
            <ng-container *ngIf="clientMenuModuleSubMenuList.length; else noMenus">
              <ng-container *ngFor="let subMenu of clientMenuModuleSubMenuList">
                <option [value]="subMenu?.clientSubMenuId">{{ subMenu .display }}</option>
              </ng-container>
            </ng-container>
            <ng-template #noMenus>
              <option>No Data Found</option>
            </ng-template>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
          (click)="submitClientMenuModule()"
        >
          Insert
        </button>
      </div>
    </div>
  </div>
</div>
